@font-face {
    font-family: "sans";
    src: url(../../public/fonts/iransans/IRANSansWeb.ttf);
  }
  @font-face {
    font-family: "lale";
    src: url(../../public/fonts/lalezar/Lalezar-Regular.ttf);
  }
  
  * {
    scroll-behavior: smooth;
    font-family: "sans";
  }
  
  .font-lale {
    font-family: "sans";
  }
  
  .font-lale {
    font-family: "lale";
  }
  
  .font-xxs {
    font-size: 0.7rem;
  }
  
  .bg-header{
    background-image: url('../img/@Wallpapersbin1920x1080\ \(17\).jpg');
    background-size: cover;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 49% 89%, 0 100%);
  }

  .bg-clip{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 49% 89%, 0 100%);
  }

  .scroll_custom::-webkit-scrollbar{
    height: .4rem;
    cursor: pointer;
    background: #757373;
    border-radius: 2rem;
  }
  .scroll_custom::-webkit-scrollbar-thumb{
    background: rgb(51, 51, 51);
    cursor: pointer;
    border-radius: 2rem;
  }
  .scroll_custom::-webkit-scrollbar-corner{
    background: red;
    cursor: pointer;
  }